<html>
	<head>

		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script type="text/javascript" src='/static/bootstrap/js/bootstrap.js'></script>
		<link rel="stylesheet" href="/static/css/navbar-fixed-top.css" type="text/css">
	</head>
	<body>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Test app</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/users">Dashboard</a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li><a href="/users/edit">Profile</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/logoff">Log off</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		
		<div class="container">
			
			<div class="col-md-10">
				<h1>Edit user # {{user['id']}}</h1>
			</div>
			<div class="col-md-2">
				<a href="/users" class="btn btn-primary">Return to dashboard</a>
			</div>

			<form action="/users/update" method="post">
				<div class="col-md-4">
					<table>
						<tr>
							<td>
								<label>Email Address:</label><br>
								<input type="email" name="email" value="{{user['email']}}"><br>
								<label>First name:</label><br>
								<input type="text" name="first_name" value="{{user['first_name']}}"><br>
								<label>Last name:</label><br>
								<input type="text" name="last_name" value="{{user['last_name']}}"><br>
								<label>Description:</label><br>
								<input type="text" name="description" value="{{user['description']}}"><br>
							</td>
						</tr>
						<tr>
							<td class="alignRight">
								<button type="submit" class="btn btn-success">Save</button>
							</td>
							
						</tr>
					</table>
				</div>
				<div class="col-md-4">
					<table>
						<tr>
							<td>
								<label>Password:</label><br>
								<input type="password" name="password"><br>
								<label>Password Confirmation:</label><br>
								<input type="password" name="confirm_password"><br>
							</td>
						</tr>
						<tr>
							<td class="alignRight">
								<button type="submit" class="btn btn-success">Update Password</button>
							</td>
							
						</tr>
					</table>
				</div>
			</form>
			{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							{%if message != ''%}
								<p>{{category}}: {{message}}</p>
							{%endif%}
						{% endfor %}
					{% endif %}
				{% endwith %}

	    </div> <!-- /container -->
	</body>
</html>
