.postInput{
	width: 750%;
	height: 100px;
}
.commentInput{
	width: 700%;
	height: 100px;
}
.btnRight{
	float: right;
}
.message{
	padding-left: 10px;
}
.comment{
	padding-left: 20px;
}
.commentInput{
	margin-left: 10px;
}